@font-face {
    font-family: "sohne";
    font-style: normal;
    src: url(/font/testsohne-buch-webfont.woff) format("woff"),
    url(/font/testsohne-buch-webfont.woff2) format("woff2");
    font-display: swap;
  }

@font-face {
  font-family: "sohne mono";
  font-style: italic;
  src: url(/font/test-soehne-mono-buch-kursiv.woff) format("woff"),
  url(/font/test-soehne-mono-buch-kursiv.woff2) format("woff2");
  font-display: swap;
}


@font-face {
    font-family: "sohne mono";
    font-style: normal;
    src: url(/font/test-soehne-mono-buch.woff) format("woff"),
    url(/font/test-soehne-mono-buch.woff2) format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "sohne mono";
  font-style: italic;
  src: url(/font/test-soehne-mono-buch-kursiv.woff) format("woff"),
  url(/font/test-soehne-mono-buch-kursiv.woff2) format("woff2");
  font-display: swap;
}