a h2{
    top: 0.3rem;
    margin-left: 1rem;
    position: fixed;
}
header{
    position: fixed;
    z-index: 1;
}

.backButton {
    position: fixed;
    margin-left: -6rem;
    top: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    padding-right: 1rem;
    border-radius: 114px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
}

.backButton:hover {
    background-color: #fff2df;
}

.navbar {
    position: fixed;
    height: 100%;
    float: left;
    list-style-type: none;
    margin-top: 2.1rem;
    margin-left: -9.9rem;
}

.navbar li {
    display: block;
}

.navbar a {
    font-family: 'sohne mono', Arial, sans-serif;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 114px;
    margin-bottom: 1rem;
}

.navbar a:hover {
    background-color: #fff2df;
    font-style: italic;
    border-radius: 114px;
}

.project-head{
    font-size: 3rem;
    text-align: center;
}

video{
    top: 2rem;
    width: 100%;
    height: auto;
    z-index: -1;
}

p.p-project{
    line-height: 1.3rem;
}

.about-project-body{
    padding-left: 3rem;
}

li{
    font-family: 'sohne', Arial, sans-serif;
    line-height: 1.3rem;
}

.sarah{
    padding-right: 0;
    margin-right: 0;
    right: 0;
}

.type{
    text-align: right;
}

.block3{
    padding: 1rem;
}

.block4{
    padding: 2rem;
}